.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
    outline: 2px solid red;
}

nav {
    width: 73%;
    padding: 1%;
    outline: 2px solid red;
}

ul {
    width: 50%;
    margin-left: auto;
}

.heroImg{
    height: 600px;
    padding: 25px;
    outline: 2px solid red;
    
}

.content {
    width: 500px;
    margin: 0 auto;
    outline: 2px solid red;
}

footer {
    background-color: #373738;
    color: white;
    padding: 200px;
    outline: 2px solid red;
}

footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 100px;
    outline: 2px solid red;
}

li {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}